ops/n8n/hsb-boden-lead-intake.json
{
  "name": "hsb-boden-lead-intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hsb-boden-lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hsb-lead-intake",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst clean = (value) => String(value ?? '').trim();\nconst cleanEmail = (value) => clean(value).toLowerCase();\nconst now = new Date().toISOString();\nconst archiveFileName = `${now.replace(/[:.]/g, '-').slice(0, 19)}-hsb-boden-lead.md`;\n\nconst lead = {\n  receivedAt: now,\n  source: clean(body.source),\n  legalBasis: clean(body.legalBasis),\n  firstName: clean(body.firstName),\n  lastName: clean(body.lastName),\n  fullName: `${clean(body.firstName)} ${clean(body.lastName)}`.trim(),\n  company: clean(body.company),\n  email: cleanEmail(body.email),\n  phone: clean(body.phone),\n  industry: clean(body.industry),\n  projectType: clean(body.projectType),\n  areaSize: clean(body.areaSize),\n  liveOperation: clean(body.liveOperation),\n  loads: clean(body.loads),\n  message: clean(body.message),\n  privacyConsent: body.privacyConsent === true,\n  access_key_present: Boolean(clean(body.access_key))\n};\n\nconst errors = [];\n\nif (!lead.firstName) errors.push('missing_firstName');\nif (!lead.lastName) errors.push('missing_lastName');\nif (!lead.email || !lead.email.includes('@')) errors.push('invalid_email');\nif (lead.privacyConsent !== true) errors.push('privacyConsent_not_true');\nif (!lead.source) errors.push('missing_source');\nif (!lead.legalBasis) errors.push('missing_legalBasis');\n\nconst esc = (value) => String(value ?? '').replace(/\\r?\\n/g, ' ').replace(/\"/g, '\\\"');\nconst rawJson = JSON.stringify(body, null, 2);\n\nconst archiveContent = `---\nreceivedAt: \"${esc(lead.receivedAt)}\"\nsource: \"${esc(lead.source)}\"\nlegalBasis: \"${esc(lead.legalBasis)}\"\nfullName: \"${esc(lead.fullName)}\"\ncompany: \"${esc(lead.company)}\"\nemail: \"${esc(lead.email)}\"\nphone: \"${esc(lead.phone)}\"\nindustry: \"${esc(lead.industry)}\"\nprojectType: \"${esc(lead.projectType)}\"\nareaSize: \"${esc(lead.areaSize)}\"\nliveOperation: \"${esc(lead.liveOperation)}\"\nprivacyConsent: ${lead.privacyConsent}\n---\n\n# Nachricht\n${lead.message || '_Keine Nachricht angegeben._'}\n\n# Belastungen\n${lead.loads || '_Keine Belastungen angegeben._'}\n\n# Rohdaten\n\\`\\`\\`json\n${rawJson}\n\\`\\`\\`\n`;\n\nconst emailBody = `Neue Projektanfrage über hsb-boden.de\n\nEingang: ${lead.receivedAt}\nName: ${lead.fullName}\nFirma: ${lead.company}\nE-Mail: ${lead.email}\nTelefon: ${lead.phone}\nBranche: ${lead.industry}\nProjektart: ${lead.projectType}\nFläche: ${lead.areaSize}\nSanierung im laufenden Betrieb: ${lead.liveOperation}\nBelastungen: ${lead.loads}\n\nNachricht:\n${lead.message}\n\nQuelle: ${lead.source}\nRechtsgrundlage: ${lead.legalBasis}\nDatenschutz-Einwilligung: ${lead.privacyConsent}\nAccess-Key vorhanden: ${lead.access_key_present}\n`;\n\nreturn {\n  json: {\n    ok: errors.length === 0,\n    errors,\n    lead,\n    archiveFileName,\n    archiveContent,\n    emailSubject: 'Neue Projektanfrage über hsb-boden.de',\n    emailBody\n  }\n};"
      },
      "id": "code-validate-normalize",
      "name": "Lead validieren und normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-lead-valid",
      "name": "Lead gültig?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={\"ok\":false,\"error\":\"invalid_payload\",\"errors\":{{$json.errors}}}"
      },
      "id": "respond-invalid",
      "name": "Antwort ungültig",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        120
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.invalid",
        "toEmail": "LEAD_RECIPIENT_EMAIL_TO_SET_IN_N8N@example.invalid",
        "subject": "={{$json.emailSubject}}",
        "text": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "email-send-lead",
      "name": "Lead per E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1020,
        460
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/Users/joelcherinodiaz/ObsidianVault/_AI_Memory/leads/hsb-boden/{{$json.archiveFileName}}",
        "dataPropertyName": "archiveContent",
        "encoding": "utf8"
      },
      "id": "archive-lead",
      "name": "Lead archivieren",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": {
          "ok": true,
          "status": "received"
        }
      },
      "id": "respond-success",
      "name": "Antwort erfolgreich",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1540,
        460
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lead validieren und normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead validieren und normalisieren": {
      "main": [
        [
          {
            "node": "Lead gültig?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead gültig?": {
      "main": [
        [
          {
            "node": "Lead per E-Mail senden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Antwort ungültig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead per E-Mail senden": {
      "main": [
        [
          {
            "node": "Lead archivieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead archivieren": {
      "main": [
        [
          {
            "node": "Antwort erfolgreich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
